site_name: "VARS Query"
repo_url: https://github.com/mbari-org/vars-query-vue
repo_name: "vars-query-vue"
site_description: "VARS Query is a web application for querying and visualizing data from the VARS (Video Annotation and Reference System) database."
site_author: "MBARI"
nav:
  - Home: index.md
  - Quickstart: quickstart.md
  - User Guide: 
    - Introduction: doc_general_info.md
    - Getting Started: doc_getting_started.md
  - Appendix: appendix_1.md
  - MBARI Docs: "https://docs.mbari.org"
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - footnotes
  - tables
  - toc:
      permalink: true
plugins:
  - search
  - mermaid2
  - tags
theme:
    name: 'material'
    logo: https://docs.mbari.org/imgs/mbari-logo.png
    icon:
      repo: fontawesome/brands/github
    features:
      - navigation.expand
      - navigation.instant
      - navigation.instant.progress
      - navigation.indexes
      - navigation.path
      - navigation.sections
      - navigation.tabs
      - navigation.tabs.sticky
      - navigation.top
      - navigation.tracking
      - toc.follow
      - toc.integrate
    palette:
      # Palette toggle for automatic mode
      - media: "(prefers-color-scheme)"
        toggle:
          icon: material/brightness-auto
          name: Switch to light mode
      
      # Palette toggle for light mode
      - media: "(prefers-color-scheme: light)"
        scheme: default
        primary: blue
        accent: indigo
        toggle:
          icon: material/weather-sunny
          name: Switch to light mode

      # Palette toggle for dark mode
      - media: "(prefers-color-scheme: dark)"
        scheme: slate
        primary: indigo
        accent: light green
        toggle:
          icon: material/weather-night
          name: Switch to light mode
extra_css:
    - https://docs.mbari.org/css/mbari.css
    - assets/css/extra.css


